h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: -0.7rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: 300;
  font-size: 3.5rem;
}
p {
  text-align: center;
}
main {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#Correct,
#Wrong,
div {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

#grafico {
  text-align: center;
}
div p {
  display: inline;
}

footer {
  width: 100%;
  position: relative;
  text-align: center;
  margin-left: 0;
  margin-top: 5rem;
}

footer .hover-button {
  margin: 0;
}
footer .box {
  width: 100%;
}
/*.hover-button {
  form .hover-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-block: 30px;
    padding-block: 20px;
    padding-inline: 60px;
  }
}

/*button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
*/
section {
  width: 1300px;
  margin: auto;
}
#donut-chart {
  width: 30rem;
}

circle {
  filter: drop-shadow(0.5px 0.5px 0.5px rgba(0, 0, 0, 0.7));
}

.chart-text-failed,
.chart-text-passed {
  font: 16px/1.4em "Inter", Arial, sans-serif;
  fill: #fff;
  /* -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em); */
}

.chart-title {
  font-size: 0.1em;
  font-weight: 600;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-4em);
  -ms-transform: translateY(-4em);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
}

.chart-subtitle {
  font-size: 0.1em;
  font-weight: 600;
  fill: #00ffff;
  text-anchor: middle;
  -moz-transform: translateY(-2.8em);
  -ms-transform: translateY(-2.8em);
  -webkit-transform: translateY(-2.8em);
  transform: translateY(-2.8em);
}

.chart-text-failed > .chart-subtitle {
  fill: #d20094;
}

.chart-certificate {
  font-size: 0.09em;
  text-anchor: middle;
  -moz-transform: translateY(00.2em);
  -ms-transform: translateY(0.2em);
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);
}
