h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: -0.7rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: 300;
  font-size: 3.5rem;
}
p {
  text-align: center;
}
main {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#Correct,
#Wrong,
div {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

#grafico {
  text-align: center;
}
div p {
  display: inline;
}

footer {
  width: 100%;
  position: relative;
  text-align: center;
  margin-left: 0;
  margin-top: 3rem;
}

footer .hover-button {
  margin: 0;
}
footer .box {
  width: 100%;
}
