body {
  color: #fff;
  width: 100%;
}

#timer {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  color: white;
  position: relative;
  text-align: center;
  float: right;
}

.timer-title {
  font-size: 0.15em;
  line-height: 1;
  fill: white;

  text-anchor: middle;
  -moz-transform: translateY(-3.5em);
  -ms-transform: translateY(-3.5em);
  -webkit-transform: translateY(-3.5em);
  transform: translateY(-3.5em);
}

#seconds {
  font-size: 0.8em;
  font-weight: 600;
  fill: white;
  text-anchor: middle;
  -moz-transform: translateY(0.35em);
  -ms-transform: translateY(0.35em);
  -webkit-transform: translateY(0.35em);
  transform: translateY(0.35em);
}

.timer-subtitle {
  font-size: 0.15em;
  text-anchor: middle;
  fill: white;
  -moz-transform: translateY(4em);
  -ms-transform: translateY(4em);
  -webkit-transform: translateY(4em);
  transform: translateY(4em);
}

section {
  text-align: center;
  margin: 0;
}

span {
  color: #d20094;
}

h2 {
  font-weight: 400;
  width: 50rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.answer-button {
  background: rgba(119, 119, 119, 0.3);
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  border: 3px solid #fff;
  margin-bottom: 2rem;
  width: 40rem;
  height: 5rem;
}
.answer-button:not(:nth-child(2)):not(:nth-child(4)) {
  margin-right: 2rem;
}
.answer-button:hover {
  background-image: linear-gradient(to bottom, #d20094, transparent);
}
.answer-button:active {
  background-image: linear-gradient(to bottom, #d20094, transparent);
}

.selected {
  background-color: aliceblue;
}

#quiz-possible-answers {
  max-width: 100rem;
  margin: auto;
}

#quiz-question-div h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#question-counter {
  margin-top: 5rem;
}

#results {
  display: none;
  text-align: center;
  width: 100%;

  margin-top: 10rem;
}
#statics {
  display: flex;
  width: 90rem;
  vertical-align: middle;

  margin: auto;
  margin-top: 5rem;
}
#correct,
#wrong {
  margin: auto;

  display: inline-block;
  width: 24%;
}

#correct > h1,
#wrong > h1 {
  font-weight: 300;
}

h5 {
  font-size: 3.75;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#correct {
  text-align: left;
}
#wrong {
  text-align: right;
}
#grafic {
  display: inline-block;
  width: 30%;
}
.RateUs {
  text-align: center;
}
.hover-button {
  margin: 0;
  margin-top: 5rem;
}

h1,
h6 {
  margin-bottom: 10px;
  font-size: 80px;
}
.chart-text {
  font: 16px/1.4em "Inter", Arial, sans-serif;
  fill: #fff;
}

.chart-title {
  font-size: 0.1em;
  font-weight: 600;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-4em);
  -ms-transform: translateY(-4em);
  -webkit-transform: translateY(-4em);
  transform: translateY(-4em);
}

.chart-subtitle {
  font-size: 0.1em;
  font-weight: 600;
  fill: #00ffff;
  text-anchor: middle;
  -moz-transform: translateY(-2.8em);
  -ms-transform: translateY(-2.8em);
  -webkit-transform: translateY(-2.8em);
  transform: translateY(-2.8em);
}

.chart-certificate {
  font-size: 0.1em;
  text-anchor: middle;
  -moz-transform: translateY(00.2em);
  -ms-transform: translateY(0.2em);
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);
}
.font-pink {
  color: #d20094;
}
h1 {
  font-weight: 600;
}

h6 {
  font-size: 2rem;
  font-weight: 300;
}
