*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Outfit", sans-serif;
  background-image: url("../bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin-top: 0;
}
.main {
  margin: 50px 100px;
  width: 40%;
}
header,
#welcome,
#instructions,
#divFooter {
  text-align: left;
}
#logo {
  width: 200px;
}
h1 {
  font-size: 100px;
}
#instructions h2 {
  font-size: 40px;
  color: #d20094;
  margin: 5px;
}
#instructions p {
  margin-bottom: 20px;
}
p,
li {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #e7e7eb;
}
ul {
  margin: 60px 0px;
}
li {
  padding: 5px;
}
#welcome {
  text-align: left;
  margin-top: 50px;
  color: #e7e7eb;
}
#divFooter {
  margin-left: 100px;
  margin-top: 200px;
}
#divFooter .hover-button,
#divFooter p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
#divFooter .hover-button {
  text-align: center;
  margin-left: 100px;
  margin-block: 30px;
  padding-block: 20px;
  padding-inline: 60px;
  border: solid 1px #e7e7eb;
  background-color: inherit;
  color: inherit;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}
.hover-button:hover {
  background-color: #00ffff;
  color: #0b113b;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 15px 5px #00ffff;
}
