*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  background-image: url("../bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-size: 3.75rem;
}

h3 {
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin-top: 0;
}

h1 {
  font-weight: 300;
  line-height: 5rem;
}

span {
  font-weight: 600;
}

#proceed-div {
  vertical-align: middle;
  display: inline;
}

header,
#welcome,
#instructions,
footer {
  text-align: left;
  margin: 50px 100px;
}
#logo {
  width: 200px;
}
h1 {
  font-size: 100px;
}
#welcome #em {
  font-family: "Inter", sans-serif;
  margin: 0;
}

#instructions h2 {
  font-size: 40px;
  color: #d20094;
  margin: 5px 0;
}
#instructions p {
  margin-bottom: 20px;
}
p,
li {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #e7e7eb;
}
ul {
  margin: 60px 0px;
}
li {
  padding: 5px;
}
#welcome {
  text-align: left;
  margin-top: 50px;
  color: #e7e7eb;
}
footer {
  margin-top: 200px;
  width: 90%;
  position: absolute;
}

footer p {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
footer .hover-button {
  margin-left: 25rem;
}
footer .box {
  width: 20px;
  height: 20px;
}
.hover-button {
  text-align: center;
  margin-left: 100px;
  margin-block: 30px;
  padding-block: 20px;
  padding-inline: 60px;
  outline: solid 1px #e7e7eb;
  border: none;
  background-color: inherit;
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}
.hover-button:hover {
  background-color: #00ffff;
  color: #0b113b;
  font-weight: bold;
  outline: none;
  border: none;
  box-shadow: 0px 0px 15px 5px #00ffff;
}

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
}
