body {
  color: #fff;
  width: 100%;
}

section {
  text-align: center;
}

span {
  color: #d20094;
}

h2 {
  font-weight: 400;
  width: 50rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.answer-button {
  background: rgba(119, 119, 119, 0.3);
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  border: 3px solid #fff;
  margin-bottom: 2rem;
  width: 40rem;
  height: 5rem;
}
.answer-button:not(:nth-child(2)):not(:nth-child(4)) {
  margin-right: 2rem;
}
.answer-button:hover {
  background-image: linear-gradient(to bottom, #d20094, transparent);
}
.answer-button:active {
  background-image: linear-gradient(to bottom, #d20094, transparent);
}

.selected {
  background-color: aliceblue;
}

#quiz-possible-answers {
  max-width: 100rem;
  margin: auto;
}

#quiz-question-div h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#question-counter {
  margin-top: 5rem;
}
.display {
  display: none;
}
.visible {
  display: block;
}
.inline {
  display: inline-block;
}
div {
  display: inline-block;
}
footer {
  width: 100%;
  position: relative;
  text-align: center;
  margin-left: 0;
  margin-top: 3rem;
}

footer .hover-button {
  margin: 0;
}
footer .box {
  width: 100%;
}
